body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(laptopMan.jpg);
    background-size: cover;
}
main{
    padding: 20px 5vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: auto;
    width: 500px;
    background-color: white;
}
.terms{
    display: flex;
}
.terms input{
    margin-right: 10px;
    width: 25px;
}

@media only screen and (max-width: 850px) {
    main{
        height: 100svh;
        width: 100svw;
    }
}