body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../laptopMan.jpg);
    background-size: cover;
}
main{
    padding: 20px 5vw 150px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    width: 500px;
    background-color: white;
}
main h1{
    font-family: Manrope;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}
main p{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin: 20px 0px;
}
main label{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin: 10px 0px;
    text-align: left;
    width: 100%;
}
main input{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background-color: #f9f9f9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
}
main button{
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 130px 0px 10px;
    transition-duration: 0.5s;
}
main button:hover{
    background-color: darkgreen;
}
main a{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: green;
    text-decoration: none;
    margin: 10px 0px;
}